/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}

button,
summary {
	cursor: pointer;
}

/*********************/
/* CUSTOM PROPERTIES #EE6C4A */
/*********************/
:root {
	/* startje */
	--accentBlauw: #97A185;
	--accentGroen: #4F6056;
	--accentTurquase: #569A8A;
	--accentTurquaseDonker: #254E44;
	--selectedKleur: #FF805B;
	--achtergrond: #DADFD8;
	--textKleur: black;
	--hoverKleur: #3F6A3C;
	--kaartenKleur: #B4BEC5;
	--accentLichtBlauw: #B5BFC8;	
}


/****************/
/* ALGEMENE STYLING */
/****************/

h1,
h2,
h3,
h4 {
	font-family: 'Special Elite', cursive;
	letter-spacing: 5px;
	color: var(--textKleur);
}

p {
	font-family: 'Barlow', sans-serif;
	font-size: 1em;
	color: var(--textKleur);;
}

img {
	border-radius: .4em;
}

header li, button {
	font-family: 'Barlow', sans-serif;
}

body {
	margin: 0;
	background-color: var(--achtergrond);
}

main {
	position: relative;
}

/****************/
/* HEADER STYLING */
/****************/

header div {
	background-image: url('https://images.unsplash.com/photo-1477554193778-9562c28588c0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2970&q=80') ;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
	gap: 1vw;
	background-position: center;
	padding: 1vh;
	height: 30vh;
}

header img {
	width: 6vw;
	margin: 1em;
	max-width: 3em;
	/* seekpng.com free download */
}

header img:focus {
	outline: none;
	border-bottom: 3px solid var(--selectedKleur);
		/* WAAROM WERKT DIT NIET? */
}

header ul {
	list-style-type: none;
}

header a {
	text-decoration: none;
	margin: 15px 0 15px 0;
}

header h1 {
	letter-spacing: .1em;
	font-size: 5vw;
	margin: 15px 15px 0 0;
	color: var(--accentGroen);
}

/****************/
/* NAV STYLING */
/****************/

header nav {
	position: relative;
	left: 0;
	right: 0;
	top: 0;
}

header nav ul {
	position: relative;
	margin: 0;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	text-align: center;
	padding: 1em;
	gap: .5em;
	display: none;
}

header nav li {
	padding: .3em;
	margin: .3em;
}

/****************/
/* NAV LINK STYLING */
/****************/

header nav li:hover {	
	color: var(--hoverKleur);
	font-weight: bold;
	transform: scale(1.2);
	transition: .3s ease-in-out;
}

header nav li a {
	color: var(--accentGroen);
	text-transform: lowercase;
}

header nav li a:hover {
	color: var(--hoverKleur);
}

header nav li a:focus {
	color: var(--selectedKleur);
	outline: none;
	font-weight: bold;
	transform: scale(1.2);
	transition: .3s ease-in-out;
}

/****************/
/* NAV BUTTON STYLING */
/****************/

header nav button {
	position: absolute;
	z-index: 5;
	top: 95%;
	left: 50%;
	transform: translateX(-50%);
	border-radius: .4em;
	border: 3px solid var(--accentGroen);
	background-color: transparent;
	padding: .5em 2em;
	font-family: 'Barlow', sans-serif;
	color: var(--textKleur);
	font-size: 1.2em;
	color: var(--accentGroen);
	box-shadow: 4px 4px 11px -3px var(--accentBlauw);
}

header nav button:hover {
	border-color: 4px solid var(--hoverKleur);
	color: var(--hoverKleur);
	font-weight: bold;
	transition: .3s ease-in-out;
	cursor: pointer;
	box-shadow: 4px 4px 11px -3px var(--accentGroen);
}

header nav button:active {
	border-color: 4px solid var(--hoverKleur);
	color: var(--hoverKleur);
	font-weight: bold;
	transition: .3s ease-in-out;
	cursor: pointer;
	box-shadow: 2px 2px 11px -3px var(--accentGroen);
}

header nav button:focus {
	outline: none;
	border-color: var(--selectedKleur);
	color: var(--selectedKleur);
}

/****************/
/* NAV CLASSLIST STYLING */
/****************/

header nav ul.toonMenu {
	position: relative;
	background-color: white;
	margin: 0;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	text-align: center;
	padding: 1em;
	gap: .5em;
	background-color: var(--achtergrond);
}

/****************/
/* MEDIAQUERY STYLING */
/****************/

@media (min-width:38em) {
	header nav ul.toonMenu {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (min-width:57em) {
	header nav ul {
		display: flex;
		justify-content: space-around;
		background-color: var(--achtergrond);
		border-bottom: 1px solid var(--accentGroen);
		border-top: 1px solid var(--accentGroen);
	}
	header nav button {
		display: none;
	}
	header nav a {
		padding: 1em;
	}
	header nav ul.toonMenu {
		display: flex;
		justify-content: center;
	}
	header h1 {
		font-size: 3vw;
	}
	header div {
		padding: 1vh;
	}
}

/****************/
/* MAIN STYLING 1STE ARTICLE */
/* WORD PARTNER */
/****************/

main {
	margin-top: 5em;
	margin-left: 0;
}

main section:first-of-type article div {
	margin: 0 1em;
}

main section:first-of-type article { 
	margin: 0;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 0 -7em;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

main section:first-of-type article img {
	width: 100vw;
	margin: 0;
}

main section:first-of-type article div {
	padding: 0 2em;
	margin: 0;
}

main section:first-of-type article p {
	font-size: 1.2em;
	font-family: 'Barlow', sans-serif;
	line-height: 1.2em;
	margin-top: 0;
	color: var(--textKleur);
}

main section:first-of-type article h2 {
	margin-bottom: .3em;
	color: var(--textKleur);;
	font-size: 1.5em;
}

/****************/
/* 1STE SECTION LINK STYLING */
/****************/

main section:first-of-type article a{
	border-radius: .4em;
	border: 3px solid var(--accentGroen);
	background-color: transparent;
	padding: .5em;
	font-family: 'Barlow', sans-serif;
	color: var(--accentGroen);
	position: absolute;
	right: 2em;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 4px 4px 11px -3px var(--accentBlauw);
}

main section:first-of-type article a:hover{
	border: 3px solid var(--accentGroen);
	font-family: 'Barlow', sans-serif;
	color: var(--accentGroen);
	position: absolute;
	right: 2em;
	transition: .5s ease-in-out;
	letter-spacing: 1px;
	box-shadow: 4px 4px 11px -3px var(--accentGroen);
}

main section:first-of-type article a:focus {
	outline: none;
	border-color: var(--selectedKleur);
	color: var(--selectedKleur);
}

/****************/
/* MAIN STYLING 2DE SECTION */
/* STATESTIEKEN */
/****************/

main section:nth-of-type(2) {
	margin: 5em 0;
	padding: 8vh 3vw;
	border-radius: .4em;
	display: flex;
	flex-direction: column;
	color: var(--textKleur);
	align-items: center
}

main section:nth-of-type(2) h3 strong {
	color: var(--accentTurquaseDonker);
}

main section:nth-of-type(2) p strong {
	color: var(--accentTurquaseDonker);
}

main section:nth-of-type(2) h3 {
	margin: 0 1em 1.5em 1em;
	font-size: 2em;
	color: var(--textKleur);
	text-align: center;
}

main section:nth-of-type(2) article {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 2em;
	background-color: var(--accentLichtBlauw);
	padding: 3vh 4vw;
	border-radius: .4em;
	width: 80vw;
}

main section:nth-of-type(2) article img {
	width: 60vw;
}

main section:nth-of-type(2) article p:first-of-type {
	font-size: 3em;
	font-family: 'Barlow', sans-serif;
	margin: 0;
}

main section:nth-of-type(2) article p {
	margin: 0 1em;
	color: black;
	text-align: center;
}

/****************/
/* MAIN STYLING 3DE SECTION */
/* 	AANMELDEN */
/****************/

main section:nth-of-type(3) div{
	margin-bottom: 6em
}

main section:nth-of-type(3) h3{
	font-size: 1.5em;
	margin: .3em 0;
}

main section:nth-of-type(3) p{
	margin: 0;
}

main section:nth-of-type(3) div article {
	position: relative;
	margin: 3em 2em ;
}

/****************/
/* 3DE SECTION LINK STYLING */
/****************/

main section:nth-of-type(3) div article a {
	background-color: transparent;
	font-family: 'Barlow', sans-serif;
	text-decoration: none;
	padding: .5em;
	border: 3px solid var(--accentGroen);
	color: var(--accentGroen);
	border-radius: .4em;
	position: absolute;
	right: 0;
	margin-top: .8em;
	box-shadow: 4px 4px 11px -3px var(--accentBlauw);
}

main section:nth-of-type(3) div article a:hover {
	border-color: 4px solid var(--hoverKleur);
	color: var(--hoverKleur);
	font-weight: bold;
	transition: .3s ease-in-out;
	cursor: pointer;
	box-shadow: 4px 4px 11px -3px var(--accentGroen);
	letter-spacing: 1px;
}

main section:nth-of-type(3) div article a:focus {
	border-color: var(--selectedKleur);
	color: var(--selectedKleur);
	outline: none;
}

/****************/
/* VIDEO LINK STYLING */
/****************/

main section:nth-of-type(3) div iframe  {
	width: 100vw;
}

main section:nth-of-type(3) div div p {
	margin: 0 2em;
}

main section:nth-of-type(3) div p a{
	text-decoration: none;
	color: var(--accentGroen);
	font-family: 'Barlow', sans-serif;
}

main section:nth-of-type(3) div p a:hover{
	text-decoration: none;
	color: var(--accentGroen);
	font-family: 'Barlow', sans-serif;
	transition: .5s ease-in-out;
	font-weight: bold;
	letter-spacing: 1px;
}

main section:nth-of-type(3) div p a:focus {
	color: var(--selectedKleur);
	outline: none;
}

/* HOE PAS IK IN DE VIDEO DE FOCUS STATE AAN? */

/****************/
/* 3DE SECTION IMAGES STYLING */
/****************/

main section:nth-of-type(3) div img {
	width: 100vw;
	margin-top: 1em;
	/* bron unsplash : respectivelijk = Toa Heftiba - Davor Nisevic - Fabian Blank - Spencer Pugh */
}

/****************/
/* 4DE SECTION STYLING */
/****************/

main section:nth-of-type(4) {
	margin: 2em 2em;
	border-radius: .4em;
	padding: 10vw;
	background-color: var(--accentLichtBlauw);
}

main section:nth-of-type(4) h3 {
	font-size: 1.5em;
	margin: .3em 0;
	color: black;
}

main section:nth-of-type(4) p {
	color: black;
}

/****************/
/* 4DE SECTION FORM STYLING */
/****************/

main section:nth-of-type(4) form div label {
	color: black;
	font-family: 'Barlow', sans-serif;
}

main section:nth-of-type(4) form div input {
	border: none;
	color: black;
	font-family: 'Barlow', sans-serif;
	margin: .5em 0 .7em 0;
	padding: .5em;
	background-color: transparent;
	border-bottom: 3px solid var(--achtergrond);
	width: 16em;
}

main section:nth-of-type(4) form div input:hover {
	border: none;
	transition:  .3s ease-in-out;
	border-bottom: 3px solid var(--achtergrond);
	background-color: var(--achtergrond);
	border-top-left-radius: .4em;
	border-top-right-radius: .4em;
	transition: .3s ease-in-out;
}

main section:nth-of-type(4) form div input:focus {
	outline: none;
	border-bottom: 3px solid var(--selectedKleur);
	transition: .3s ease-in-out;
	background-color: var(--selectedKleur);
	border-top-left-radius: .4em;
	border-top-right-radius: .4em;
	color: white;
}

/****************/
/* 4DE SECTION SUBMIT STYLING */
/****************/

main section:nth-of-type(4) form div:nth-of-type(2) input {
	background-color: transparent;
	font-family: 'Barlow', sans-serif;
	text-decoration: none;
	padding: .5em 1.5em;
	border: 3px solid var(--accentGroen);
	color: var(--accentGroen);
	border-radius: .4em;
	margin-top: .8em;
	width:  auto;
	box-shadow: 4px 4px 11px -3px #35453C;
}

main section:nth-of-type(4) form div:nth-of-type(2) input:hover {
	cursor: pointer;
	border-color: 4px solid var(--hoverKleur);
	color: var(--hoverKleur);
	font-weight: bold;
	transition: .3s ease-in-out;
	box-shadow: 4px 4px 11px -3px var(--accentGroen);
	letter-spacing: 1px;
}

main section:nth-of-type(4) form div:nth-of-type(2) input:focus {
	border: 3px solid var(--selectedKleur);
}

/****************/
/* FOOTER STYLING */
/****************/

footer {
	background-color: var(--accentGroen);
	padding: 1em 0;
}

footer nav {
	padding: 1em 2em;
}

footer nav h4 {
	color: var(--achtergrond);
	margin: 1.5em 0 .3em 0;
}

footer nav ul {
	list-style-type: none;
}

/****************/
/* FOOTER LINK STYLING */
/****************/

footer nav ul li a{
	color: var(--achtergrond);
	text-decoration: none;
	font-family: 'Barlow', sans-serif;
}

footer nav ul li a:hover{
	color: var(--accentBlauw);
	transition: .3s ease-in-out;
	font-weight: bold;
	letter-spacing: 1px;
}

footer nav ul li a:focus{
	color: var(--selectedKleur);
	transition: .3s ease-in-out;
	outline: none;
}

footer nav ul li a:active{
	color: var(--boxShadow);
}

/****************/
/* FOOTER SECTION STYLING */
/****************/

footer section {
	margin: 0 2em;
}

footer section div {
	display: flex;
	justify-content: space-around;
	gap: 1em;
	align-items: center;
	margin: 1em
}

footer section ul li {
	text-decoration: none;
	list-style-type: none;
}

footer section img{
	width: 2em;
	height: 2em;
}

footer section p {
	color: black;
	font-family: 'Barlow', sans-serif;
}

footer section ul {
	display: flex;
	gap: 1em;
	justify-content: center;
	margin: 0;
	padding: 0;
}

footer section div p {
	color: var(--achtergrond)
}

footer section ul{
	background-color: var(--achtergrond);
	padding: 1em;
	border-radius: .4em;
}

@keyframes socialMedia{
	0% {
		transform: rotate(0deg)
	}
	100% {
		transform: rotate(360deg)
	}
}

footer section ul li:hover {
	animation-name: socialMedia;
	animation-duration: 1s;
	transition: cubic-bezier(.95,-0.01,.75,1.61);
}

/****************/
/* MEDIAQUERY 57EM */
/****************/


@media (min-width:57em) {
	main {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}
	header div {
		height: 90vh;
	}
	header a {
		font-size: 1.5em;
		padding: 2vw;
	}
	header a:hover {
		font-weight: bold;
	}
	main a {
		font-size: 1.5em;
		padding: 2vw;
	}
	main a:hover {
		font-weight: bold;
	}
	footer li {
		padding: .3em;
	}
	footer a{
		font-size: 1em;
	}
	footer a:hover{
		font-weight: bold;
	}
	/****************/
	/* 1STE SECTION */
	/****************/
	main {
		margin: 0 8em;
	}
	main section:first-of-type {
		background-color: var(--accentBlauw);
		padding: 8vh 3vw;
		margin-top: 5vh;
		border-radius: .4em;
	}
	main section:first-of-type article { 
		flex-direction: row;
		gap: 5em;
	}
	main section:first-of-type article img {
		width: 30vw;
	}
	main section:first-of-type article a {
		position: absolute;
		right: 2em;
	}
	main section:first-of-type article a:hover {
		right: 2em;
	}
	/****************/
	/* 2DE SECTION */
	/****************/
	main section:nth-of-type(2) {
		margin: 5em 0;
		background-color: var(--accentBlauw);
		padding: 8vh 3vw;
		border-radius: .4em;
		display: flex;
		flex-direction: column;
		color: var(--textKleur);
		width: 100%;
	}
	main section:nth-of-type(2) p strong {
		color: var(--accentTurquase);
	}
	main section:nth-of-type(2) article p {
		color: black;
	}
	main section:nth-of-type(2) div {
		display: flex;
		justify-content: space-around;
		flex-direction: row;
		width: 15vw;
		gap: 1vw;
	}
	main section:nth-of-type(2) article {
		width: 25vw;
		background-color: var(--achtergrond);
		padding: 4vw;
	}
	main section:nth-of-type(2) article img {
		width: 15vw;
	}
	/****************/
	/* 3DE SECTION */
	/****************/	
	main section:nth-of-type(3) div {
		display: flex;
		gap: 5vw;
		align-items: flex-start;
		background-color: var(--accentBlauw);
		border-radius: .4em;
		padding: 4vw;
	}
	main section:nth-of-type(3) div article {
		margin: 2em 0;
		padding: 4vw;
	}
	main section:nth-of-type(3) div img {
		width: 36vw;
	}
	main section:nth-of-type(3) div:nth-of-type(2) {
		display: flex;
		flex-direction: row-reverse;
		align-items: flex-start;	
	}
	main section:nth-of-type(3) div:nth-of-type(2) article{
		padding-top: 6em;
		margin: 0;
	}
	main section:nth-of-type(3) div:nth-of-type(2) div {
		display: block;
		background-color: transparent;
	} 
	section:nth-of-type(3) div div p a {
		font-size: 1em;
		padding: 0;
	}
	section:nth-of-type(3) div div p a:hover {
		font-weight: bold;
		padding: 0;
	}
	main section:nth-of-type(3) div:nth-of-type(2) div iframe {
		padding: 0;
		width: 36vw;
	} 
	main section:nth-of-type(3) div:nth-of-type(4) {
		flex-direction: row-reverse;
	}
	/****************/
	/* 4DE SECTION */
	/****************/
	main section:nth-of-type(4) {
		width: 60vw;
		padding: 4vw;
		margin-bottom: 15vh;
	}
	main section:nth-of-type(4) h3 {
		font-size: 1.8em;
		text-align: center;
	}
	main section:nth-of-type(4) p {
		text-align: center;
	}
	main section:nth-of-type(4) form div:nth-of-type(1) {
		display: flex;
		gap: 1em;
		justify-content: center;
		align-items: center;
		margin-top: 2em;
	}
	main section:nth-of-type(4) form div:nth-of-type(2) {
		display: flex;
		justify-content: center;
	}
	main section:nth-of-type(4) form div:nth-of-type(2) input {
		font-size: 1.3em;
		padding: 2vh 3vw;
		letter-spacing: 1px;
	}
	/****************/
	/* FOOTER SECTION */
	/****************/
	footer nav {
		display: flex;
		justify-content: center;
		gap: 2vw;
	}
	footer div {
		width: 30vw;	
	}
}